

ul{
    margin: 300px auto;
    list-style: none;
    width: 200px;
    height: 200px;
    transition: all 8s;
    transform-style: preserve-3d;
    position: relative;
    text-align: center;
    line-height: 200px;
    /*transform: rotateX(30deg) rotateY(30deg);*/
}
li{
    height: 200px;
    width: 200px;
    position: absolute;
    box-shadow: 0 0 400px rgba(255,255,255,.6);
}
li:nth-of-type(1){
    transform: rotateX(0deg) translateZ(100px) ;
    background-color: rgba(0,0,0,.3);
}
li:nth-of-type(2){
    background-color: rgba(0,0,0,.4);
    transform: rotateX(-90deg) translateZ(100px);
}
li:nth-of-type(3){
    transform: rotateX(-180deg)translateZ(100px);
    background-color: rgba(0,0,0,.4);
}
li:nth-of-type(4){
    transform: rotateX(-270deg) translateZ(100px);
    background-color: rgba(0,0,0,.4);
}
li:nth-of-type(5){
    transform: rotateY(-90deg) translateZ(100px);
    background-color: rgba(0,0,0,.4);
}
li:nth-of-type(6){
    transform: rotateY(90deg) translateZ(100px);
    background-color: rgba(0,0,0,.4);
}
ul:hover{
    transform: rotateX(360deg) rotateY(360deg);
}